*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
}

.main-box{
    background: linear-gradient(to left, #06beb6, #48b1bf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-gradient{

    color:#3f37c9!important /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.features-part{

    font-size: 72px;
    background: -webkit-linear-gradient( #00F260,#0575E6 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.foot-size{
    width: 100%;
    height: 400px;
    background: #302b63;
}
