<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <link href="static/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Prediction</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

  <div class="container-fluid" style="background: linear-gradient(to left, #06beb6, #48b1bf);">
    <header>
        <nav class="navbar navbar-expand-lg container navbar-light pt-3">
            <a class="navbar-brand font-weight-bolder text-light" href="/index"><span style="font-size: 1.5rem!important;">No defaulter</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item active">
                  <a class="nav-link text-light" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
            </div>
          </nav>
    </header>
</div>



<section>

    <div class="container-fluid my-5">

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 my-3">
                <div class="d-flex justify-content-end">
                    <img src="/static/{{ans['img_value']}}.svg" alt="" class="w-75">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 my-3 d-flex flex-column align-items-center">
                <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                    <div class="card mb-3 rounded" style="max-width: 18rem;">
                        <div class="card-header text-center main-box text-light text"><h4>Result<i class="fas fa-poll-h ml-2"></i></h4></div>
                        <div class="card-body">
                            <h5 class="card-title text-center font-weight-bolder text-capitalize {{ans['text_class_color']}}">{{ans['title']}}<span class="fas {{ans['icon_class']}} ml-2"></span></h5>
                          <p class="card-text text-muted">Note:<br>{{ans['description']}}</p>
                        </div>
                      </div>
                </div>

            </div>
        </div>
    </div>
</section>


      <footer class="mt-5">
          <div class="foot-size text-center">
              <div class="container text-light h-100 d-flex flex-column justify-content-between">

                  <div class="mt-5">
                      <h1>Loan defaulter</h1>
                      <p>A project based on machine learning to predict loan defaulter</p>

                  </div>
                  <div class="text-center">
                      <p class="text-uppercase">&copy All rights are reserved 2021</p>
                  </div>

              </div>

          </div>
      </footer>

    <script src="https://kit.fontawesome.com/c03e57a261.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>


</body>
</html>